<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Se connecter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script
          src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <link th:href="@{/images/style.css}" rel="stylesheet" />

</head>

<body>

<header>
  <div class="banniere">
    <img id="logo" src="images/logo.png" alt="logo" />
    <h1 th:text="#{label.deptInfo}">Département des Techniques de l'Informatique</h1>

  </div>
  <div th:if="${not #strings.isEmpty(nomUtilisateur)}">
    <marquee>Salut Mr/Mme <span class="rouge" th:text="${nomUtilisateur + ' ' + prenomUtilisateur}"></span> au Collège de Rosemont</marquee>
  </div>
  <div th:include="navigationMenu :: #menuNavigation"></div>
</header>


<div class="container">
  <div class="row" >
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h2 class="text-center login-title" th:text="#{label.connect}">Connecter </h2>
      <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
        <form class="form-signin" action="/connexion" method="post">
          <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
          </br>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
          </br>
          <button class="btn btn-lg btn-primary btn-block btn-inscr" type="submit" th:text="#{label.login}">Se connecter</button>
          <label class="checkbox pull-left">
            <input type="checkbox" name="sauvegarde" value="yes" th:text="#{label.rappel}">
            Se souvenir </br>
          </label>
          <!-- Afficher les erreurs de connexion ici -->
          <div th:if="${erreur}" th:text="${erreur}" class="error"></div>
        </form>
      </div></br> </br> </br>

    </div>
  </div>
</div>
<footer class="footer">
  <div th:include="pied :: #pied"></div>
</footer>
<script>
  window.onload = function() {
    var email = getCookie("email");
    var password = getCookie("password");
    if (email != "" && password != "") {
      document.getElementsByName("email")[0].value = email;
      document.getElementsByName("password")[0].value = password;
      document.getElementsByName("sauvegarde")[0].checked = true;
    }
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

</script>
</body>

</html>