<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Espace EP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/images/style.css}" rel="stylesheet" />
    <style>


    </style>

</head>
<body>


<header>
    <div class="banniere">
        <img id="logo" src="images/logo.png" alt="logo" />
        <h1 th:text="#{label.deptInfo}">Département des Techniques de l'Informatique</h1>

    </div>
    <div th:if="${not #strings.isEmpty(nomUtilisateur)}">
        <marquee>Bienvenue Mr/Mme <span class="rouge" th:text="${nomUtilisateur + ' ' + prenomUtilisateur}"></span> au Collège de Rosemont</marquee>
    </div>
    <div th:include="navigationMenu :: #menuNavigation"></div>
</header>
<div class="menuClass">
    <p class="menu-label" th:text="#{label.menu}" >Menu</p>
</div>
<div class="sidebar">
    <ul>
        <li><a th:href="@{/recherche}" th:text="#{label.recherche}">Recherche</a></li>
        <hr>
        <li><a th:href="@{/listeProjet}" th:text="#{label.projetEtudiant}">Projets des étudiants</a></li>
    </ul>
</div>



</body>
</html>