<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Espace EP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/images/style.css}" rel="stylesheet" />
    <style>


    </style>

</head>
<body>


<header>
    <div class="banniere">
        <img id="logo" src="images/logo.png" alt="logo" />
        <h1 th:text="#{label.deptInfo}">Département des Techniques de l'Informatique</h1>

    </div>
    <div th:if="${not #strings.isEmpty(nomUtilisateur)}">
        <marquee>Bienvenue Mr/Mme <span class="rouge" th:text="${nomUtilisateur + ' ' + prenomUtilisateur}"></span> au Collège de Rosemont</marquee>
    </div>
    <div>
        <nav class="navbarDep">
            <div id="navid">
                <a th:href="@{/}" th:text="#{label.accueilMenu}" class="Nav">Accueil</a>
                <a th:href="@{/espaceEP}" class="Nav" th:text="#{label.espaceEPMenu}">Espace EP</a>
                <a th:href="@{/tutorat}" class="Nav" th:text="#{label.aideTutoratMenu}">Aide et tutorat</a>
                <a th:href="@{/inscription}" class="Nav" th:text="#{label.inscriptionMenu}">Inscription</a>
                <a th:href="@{/connexion}" class="Nav" th:text="#{label.connexionMenu}">Connexion</a>
            </div>
            <div class="language-links">
                <a href="?lang=en" th:text="#{label.en}">English</a>
                <a href="?lang=fr" th:text="#{label.fr}">Français</a>
            </div>
        </nav>
    </div>
</header>
<div class="menuClass">
    <p class="menu-label" th:text="#{label.menu}">Menu</p>
</div>
<div class="sidebar">
    <ul>
        <li><a href="#" th:text="#{label.recherche}">Recherche</a></li>
        <hr>
        <li><a href="#" th:text="#{label.projetEtudiant}">Projets des étudiants</a></li>
        <hr>
        <li><a href="#" th:text="#{label.documentProf}">Documents des professeurs</a></li>
        <hr>
        <li><a th:href="@{/listeEtudiant}" class="Nav" th:text="#{label.listeEtudiant}">Liste des étudiants</a></li>
        <hr>
        <li><a href="#" th:text="#{label.listProf}">Liste des profs</a></li>
    </ul>
</div>



</body>
</html>