
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Accueil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/images/style.css}" rel="stylesheet" />


  <style>

  </style>

</head>
<body>


<header>
  <div class="banniere">
    <img id="logo" src="images/logo.png" alt="logo" />
    <h1 th:text="#{label.deptInfo}">Département des Techniques de l'Informatique</h1>

  </div>
  <div th:if="${not #strings.isEmpty(nomUtilisateur)}">
    <marquee>Bienvenue Mr/Mme <span class="rouge" th:text="${nomUtilisateur + ' ' + prenomUtilisateur}"></span> au Collège de Rosemont</marquee>
  </div>
  <div th:include="navigationMenu :: #menuNavigation"></div>
</header>
<main class="page_principal">


  <section class="centrale">


  </section>

</main>
<footer class="footer">
  <div th:include="pied :: #pied"></div>
</footer>


</body>
</html>