
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Accueil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/images/style.css}" rel="stylesheet" />


  <style>

  </style>

</head>
<body>


<header>
  <div class="banniere">
    <img id="logo" src="images/logo.png" alt="logo" />
    <h1 th:text="#{label.deptInfo}">Département des Techniques de l'Informatique</h1>

  </div>

  <div th:include="navigationMenu :: #menuNavigation" style="margin: 0 auto; text-align: center;"></div>
  <div th:if="${not #strings.isEmpty(nomUtilisateur)}">
    <marquee>Bienvenue Mr/Mme <span class="rouge" th:text="${nomUtilisateur + ' ' + prenomUtilisateur}"></span> au Collège de Rosemont</marquee>
  </div>
  <div th:if="${messageInscription}" id="messageInscription" class="alert alert-success">
    <p th:text="${messageInscription}"></p>
  </div>


</header>
<main class="page_principal">



  <section class="centrale">
    <div class="table-container">

      <video src="images/video/intro.mp4" width="720px" height="480px" autoplay controls preload="auto"></video>




    </div>


  </section>

</main>
<footer class="footer">
  <div th:include="pied :: #pied"></div>
</footer>


</body>
</html>
<script>
  // Fonction pour masquer le message d'inscription après un certain délai (en millisecondes)
  function masquerMessageInscription() {
    var messageInscription = document.getElementById('messageInscription');
    if (messageInscription) {
      messageInscription.classList.add('message-disparait');
    }
  }

  // Appel de la fonction après un délai de 3000 millisecondes (3 secondes)
  setTimeout(masquerMessageInscription, 3000);
</script>
