<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8" />
    <title>Formulaire d inscription</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script
            src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <link th:href="@{/images/style.css}" rel="stylesheet" />
    <style>
        em.error{
            color:red;
        }
        input.error{
            border:1px solid red;
        }
    </style>
</head>

<body>

<header>
    <div class="banniere">
        <img id="logo" src="images/logo.png" alt="logo" />
        <h1 th:text="#{label.deptInfo}">Département des Techniques de l'Informatique</h1>

    </div>
    <div th:if="${not #strings.isEmpty(nomUtilisateur)}">
        <marquee>Bienvenue Mr/Mme <span class="rouge" th:text="${nomUtilisateur + ' ' + prenomUtilisateur}"></span> au Collège de Rosemont</marquee>
    </div>
    <div th:include="navigationMenu :: #menuNavigation"></div>
</header>
<div>

    <div class="d-flex justify-content-center">
        <div class="panel panel-default mx-auto">
            <div class="panel-body">
                <h2>Inscription</h2>
                <form th:action="@{/inscription}" id="signupForm" method="post" class="form-horizontal" action="/inscription" th:object="${utilisateur}">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" />


                        <label class="col-sm-4 control-label" for="gender_male" th:text="#{label.sexe}">Sexe:</label>
                        <div class="col-sm-4 col-sm-offset-0">
                            <label class="radio-inline" for="gender_male">
                                <input type="radio" id="gender_male" value="m" name="sex" >Homme
                            </label>
                            <label class="radio-inline" for="gender_female">
                                <input type="radio" id="gender_female" value="f" name="sex" >Femme
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="prenom" th:text="#{label.prenom}">Prénom:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" th:value="${utilisateur.prenom}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="nom" th:text="#{label.nom}">Nom:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" th:value="${utilisateur.nom}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="email" th:text="#{label.courriel}">Email:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" th:value="${utilisateur.email}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="password" th:text="#{label.mdp}">Mot de passe:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="password" name="passwd" placeholder="Mot de passe" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="confirm_password" th:text="#{label.cmdp}">Confirmation du mot de passe:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmation du mot de passe" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="role"  th:text="#{label.choixRole}">Choix du rôle:</label>
                        <div class="col-sm-5">
                            <select class="custom-select" id="role" name="utilisateur.accountType.id" title="Choisissez un rôle" required>
                                <option th:field="*{accountType.nom}" value="" disabled th:text="#{label.selectionRole}">Sélectionnez un rôle</option>
                                <option th:each="role : ${listeRoles}" th:value="${role.id}" th:text="${role.nom}" th:selected="${role.id == utilisateur.accountType.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-inscr" value="Inscription" id="submit" th:text="#{label.sinscrire}">S'inscrire</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
<footer class="footer">
    <div th:include="pied :: #pied"></div>
</footer>

<script src="js/formValidation.js"></script>

</body>
</html>
