
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Afficher Etudiant</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link th:href="@{/images/style.css}" rel="stylesheet" />
  <style>


  </style>

</head>
<body>


<header>
  <div class="banniere">
    <img id="logo" src="images/logo.png" alt="logo" />
    <h1>Département des Techniques de l'Informatique</h1>

  </div>
  <div>
    <nav class="navbarDep">
      <div id="navid">
        <a th:href="@{/}" th:text="#{label.accueilMenu}" class="Nav">Accueil</a>
        <a th:href="@{/espaceEP}" class="Nav" th:text="#{label.espaceEPMenu}">Espace EP</a>
        <a th:href="@{/tutorat}" class="Nav" th:text="#{label.aideTutoratMenu}">Aide et tutorat</a>
        <a th:href="@{/inscription}" class="Nav" th:text="#{label.inscriptionMenu}">Inscription</a>
        <a th:href="@{/connexion}" class="Nav" th:text="#{label.connexionMenu}">Connexion</a>
      </div>
    </nav>

  </div>
</header>


<div class="menuClass">
  <p class="menu-label" th:text="#{label.menu}">Menu</p>
</div>
<div class="sidebar">
  <ul>
    <li><a th:href="@{/recherche}" th:text="#{label.recherche}">Recherche</a></li>
    <hr>
    <li><a th:href="@{/listeProjet}" class="Nav" th:text="#{label.projetEtudiant}">Projets des étudiants</a></li>
    <hr>

    <li><a th:href="@{/listeProfNotes}" class="Nav" >Documents des professeurs</a></li>

    <li><a th:href="@{/listeProfNotes}" class="Nav" th:text="#{label.documentProf}">Documents des professeurs</a></li>
    <hr>
    <li><a th:href="@{/listeUtilisateurs}" class="Nav" th:text="#{label.listeUtilisateurs}">Liste des utilisateurs</a></li>
  </ul>
</div>

<div class="table-container">

  <table class="my-table" data-table>
    <thead>
    <tr>
      <th>ID utilisateur</th>
      <th>Email</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Role</th>
      <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUtilisateurs}" th:id="${user.id}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.nom}"></td>
      <td th:text="${user.prenom}"></td>
      <td th:text="${user.accountType.nom}"></td>


      <td>
        <a class="fas fa-pencil-alt fa-2x icon-dark"
           th:href="@{'/listeUtilisateurs/edit/' + ${user.id}}" title="Modifier cet utilisateur"></a>
        <a class="fa-solid fa-trash fa-2x icon-dark"
           th:href="@{'/listeUtilisateurs/delete/' + ${user.id}}"
           th:id="${user.id}"
           title="Supprimer cet utilisateur"></a>
      </td>
    </tr>
    </tbody>
  </table>




</div>
<script>
  $(document).ready(function () {
    $(".fa-pencil-alt").on("click", function (e) {
      e.preventDefault();
      var link = $(this);
      var id = link.attr("id");
      window.location.href = "/listeUtilisateurs/edit/" + id;
    });

    function clearFilter() {
      window.location = "[[@{/utilisateurs}]]";
    }

</script>
</body>
</html>
