
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Afficher Projet</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link th:href="@{/images/style.css}" rel="stylesheet" />
  <style>


  </style>

</head>
<body>


<header>
  <div class="banniere">
    <img id="logo" src="images/logo.png" alt="logo" />
    <h1>Département des Techniques de l'Informatique</h1>

  </div>
  <div th:include="navigationMenu :: #menuNavigation"></div>
</header>


<div class="menuClass">
  <p class="menu-label" th:text="#{label.menu}">Menu</p>
</div>
<div class="sidebar">
  <ul>
    <li><a th:href="@{/recherche}" th:text="#{label.recherche}">Recherche</a></li>
    <hr>
    <li><a th:href="@{/listeProjet}" class="Nav" th:text="#{label.projetEtudiant}">Projets des étudiants</a></li>
    <hr>
    <li><a th:href="@{/listeProfNotes}" class="Nav" th:text="#{label.documentProf}">Documents des professeurs</a></li>
    <hr>
    <li><a th:href="@{/listeUtilisateurs}" class="Nav" th:text="#{label.listeUtilisateurs}">Liste des utilisateurs</a></li>
  </ul>
</div>

<div class="table-container">

  <form th:action="@{/recherche/projet}" class="form-inline m-3">
    <label th:text="#{label.rechercheProjet}">Recherche un projet:</label>
    &nbsp;
    <input type="search" name="keyword" th:value="${keyword}" class="form-control"/>
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" th:text="#{label.recherche}">
      Recherche
    </button>
  </form>





</div>

</body>
</html>
